/*-- Header --*/
.navbar{
	margin-bottom: 0;
}
.jumbotron{
	background:#428BCA; /*66 139 202*/
	color: #FFF;
	padding: 2% 0;
}
.jumbotron{
	background-color: #012a62;
	background-image: url(../../Imagenes/bg_header.jpg);
	margin-bottom: 0;
}
.jumbotron .container .container-imagen{
	width: 250px;
	float: left;
	margin-right: 1%;
}

.jumbotron .container .container-imagen img{
	width: 100%;
}

/*-- Posts --*/
.main{
	margin-top: 0;
	margin-bottom: 20px;
}
.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}
.migajas{
	margin-top: 2%;
}
.post .post-title a{
	color: #333;
}

.post .thumb{
	margin: 0px 10px;
	width: 40%;
}
.post .thumbn{
	margin: 0px 10px;
	width: 100%;
}

.post .thumbnail{
	width: 35%;
	margin-right: 5px;
}
.post .thumb img{
	width: 100%;
	margin-bottom: 15px;
}
.thumbnail .caption{
	padding: 4px;
}
.thumbnail .pull-left .descripcion{
	margin-right: 3px;
}
.post .contenedor-botones{
	width: 100%;
}
.btn-verde{
	background-color: rgb(103,232,99);
}
.btn-azul{
	background-color: rgb(96,133,239);
}
.btn-gris{
	background-color: rgb(226,226,226);
}
/*-- Media Querie --*/
@media screen and (max-width: 768px) {
	.post .thumb{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;		
	}
}